* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
@media (min-width: 600px) {
  .header-container-landing {
    padding: 0 1em;
    display: flex;
  }

  .background-section-landing {
    width: 100%;
    height: 726px;
    background: url("/backgroundpic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 84px;
    left: 0px;
    overflow: hidden;
  }
  .header-logo-landing {
    position: absolute;
    top: 16%;
    left: -px;
    width: 400px;
    height: auto;
    filter: brightness(1.2);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 100;
    z-index: 10;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  }

  .login-button-landing {
    width: 122px;
    height: 37px;
    background: white;
    position: absolute;
    top: 22px;
    left: 1570px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    color: #76a42e;
    border: 2px solid #76a42e;
    padding: 9px 32px;
  }

  .login-button-landing:hover {
    background-color: rgba(99, 148, 0, 1);
    color: white;
  }

  .signup-button-landing {
    width: 122px;
    height: 37px;
    background: #76a42e;
    position: absolute;
    top: 22px;
    left: 1712px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    color: white;
    border: 2px solid #76a42e;
    padding: 9px 3px;
  }

  .signup-button-landing:hover {
    background-color: white;
    color: #76a42e;
  }

  .about-button-landing {
    width: 71px;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 35px;
    left: 55px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .about-link-text {
    text-decoration: underline;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
  }

  .about-icon {
    width: 16px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 67px;
  }

  .hero-title {
    width: 865px;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 275px;
    left: 47px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 50px;
    text-align: left;
  }

  .header-logo-landing {
    position: absolute;
    top: 16%;
    left: 1440px;
    width: 400px;
    height: auto;
    filter: brightness(1.2);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 100;
    z-index: 10;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  }

  .hero-title {
    width: 865px;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 259px;
    left: 47px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 45px;
    text-align: left;
  }
  .background-apply {
    width: 251px;
    height: 57px;
    background: rgba(50, 108, 0, 1);
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 549px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 5%;
  }
  .background-find {
    width: 264px;
    height: 57px;
    background: rgba(215, 229, 172, 1);
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 298px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
  }
  .background-create {
    width: 267px;
    height: 57px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
  }
  .create-text {
    width: 90px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 399px;
    left: 123px;
    font-family: sans-serif;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .find-text {
    width: 55px;
    color: rgba(50, 108, 0, 1);
    position: absolute;
    top: 399px;
    left: 396px;
    font-family: sans-serif;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .apply-text {
    width: 78px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 399px;
    left: 642px;
    font-family: sans-serif;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }

  .about-background {
    width: 100%;
    height: 547px;
    background-color: green;
    opacity: 0.7;
    position: absolute;
    top: 810px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .magnifying {
    display: flex;
    position: absolute;
    top: 40px;
    left: -4px;
  }

  .large-circular {
    width: 383px;
    height: 351px;
    background: rgba(215, 229, 172, 1);
    opacity: 1;
    position: absolute;
    top: 880px;
    left: 1475px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .smaller-circular {
    width: 334px;
    height: 300px;
    background: rgba(50, 108, 0, 1);
    opacity: 1;
    position: absolute;
    top: 902px;
    left: 1501px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .small-rotated-rectangle {
    width: 54px;
    height: 45px;
    background: rgba(215, 229, 172, 1);
    opacity: 1;
    position: absolute;
    top: 1195px;
    left: 1738px;
    transform: rotate(-32deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .circular {
    width: 291px;
    height: 271px;
    background: rgba(118, 163, 45, 1);
    opacity: 1;
    position: absolute;
    top: 916px;
    left: 1523px;
    border-radius: 50%;
  }

  .white-circular {
    width: 141px;
    height: 123px;
    background-image: url("/Vector.png");
    opacity: 1;
    position: absolute;
    top: 993px;
    left: 1600px;
  }

  .rectangular-hand {
    width: 80px;
    height: 176px;
    background-color: #008000;
    transform: rotate(-32deg);
    position: absolute;
    top: 1225px;
    left: 1784px;
    border-radius: 10px;
  }

  .title-text {
    width: 548px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 895px;
    left: 210px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }

  .GOT-backbox {
    width: 267px;
    height: 57px;
    background-color: rgb(212, 255, 212);
    opacity: 1;
    position: absolute;
    top: 891px;
    left: 385px;
    border-radius: 5%;
  }

  .GoTrabahu-logo {
    width: 310px;
    height: 43.37px;
    background-image: url("/GOTrabahu.png");
    position: absolute;
    top: 900px;
    left: 320px;
    opacity: 1;
  }

  .description-text {
    width: 800px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 960px;
    left: 210px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
  }

  .categories-background {
    width: 100%;
    height: 1725px;
    position-area: center;
    opacity: 0.6;
    position: absolute;
    top: 3357px;
    left: 0px;
    overflow: hidden;
  }
  .fade-background {
    width: 100%;
    height: 88%;
    background: rgba(50, 108, 0, 1);
    opacity: 1;
    position-area: center;
    position: absolute;
    top: -84px;
    left: 0px;
  }

  .categories-title {
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 40px;
    position: absolute;
    bottom: 1420px;
    left: 0%;
    position-area: center;
  }

  .category-card {
    width: 400px;
    height: 200px;
    background: rgba(215, 229, 172, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: left;
  }

  .employee-card {
    width: 600px;
    height: 300px;
    background: rgba(215, 229, 172, 1);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .employee-button-background {
    width: 200px;
    height: 50px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 430px;
    left: 297px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .employee-title {
    width: 280px;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 230px;
    left: 297px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 35px;
    text-align: left;
  }

  .employee-text {
    width: 205px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1403px;
    left: 242px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }

  .employee-description-text {
    width: 410px;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 290px;
    left: 297px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 28px;
    text-align: left;
  }

  .employee-button-register {
    width: 190px;
    color: rgb(19, 72, 19);
    position: absolute;
    top: 442px;
    left: 315px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 28px;
    text-align: left;
  }

  .employee-button-text {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    left: -14px;
    top: 14px;
    text-align: center;
    font-family: sans-serif;
  }

  .employer-button-text {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    left: -14px;
    top: 14px;
    text-align: center;
    font-family: sans-serif;
  }

  .arrow-employee {
    width: 16px;
    height: 16px;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 166px;
  }

  .arrow-employer {
    width: 16px;
    height: 16px;
    opacity: 1;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .employer-card {
    width: 600px;
    height: 300px;
    background: rgba(50, 108, 0, 1);
    opacity: 1;
    position: absolute;
    top: 200px;
    right: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .employer-button-background {
    width: 200px;
    height: 50px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 430px;
    right: 608px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .employer-text {
    width: 410px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 230px;
    right: 395px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 35px;
    text-align: left;
  }

  .employer-description-text {
    width: 410px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 290px;
    right: 395px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 28px;
    text-align: left;
  }

  .employer-button-register {
    width: 190px;
    color: rgb(19, 72, 19);
    position: absolute;
    top: 442px;
    right: 600px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 28px;
    text-align: left;
  }

  .work-text {
    color: rgba(0, 0, 0, 1);
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 32px;
    position: absolute;
    bottom: 530px;
    left: 0%;
    position-area: center;
  }

  .work-background1 {
    width: 350px;
    height: 280px;
    background: green;
    opacity: 1;
    position: absolute;
    top: 250px;
    right: 530px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
  }

  .create-icon {
    width: 105px;
    position: absolute;
    position-area: center;
    top: -40px;
    left: auto;
  }

  .textcreate {
    width: 221px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 194px;
    left: 60px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    opacity: 1;
    text-align: center;
  }

  .work-background2 {
    width: 350px;
    height: 280px;
    background: rgb(165, 192, 116);
    opacity: 1;
    position: absolute;
    top: 250px;
    left: -201px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
  }

  .join-icon {
    width: 140px;
    position: absolute;
    position-area: center;
    top: -40px;
    left: auto;
  }

  .textjoin {
    width: 339px;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 190px;
    font-family: sans-serif;
    font-weight: Regular;
    font-size: 27px;
    opacity: 1;
    text-align: center;
  }
  .work-back3 {
    width: 350px;
    height: 280px;
    background: green;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 152px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
  }

  .find-icon {
    width: 105px;
    position: absolute;
    position-area: center;
    top: -40px;
    left: auto;
  }

  .textfind {
    width: 350px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 190px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }

  .work-back4 {
    width: 350px;
    height: 280px;
    background: rgb(165, 192, 116);
    opacity: 1;
    position: absolute;
    top: 250px;
    right: -530px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
  }

  .apply-icon {
    width: 105px;
    position: absolute;
    position-area: center;
    top: -40px;
    left: auto;
  }

  .textapply {
    width: 221px;
    color: rgba(0, 0, 0);
    position: absolute;
    position-area: center;
    top: 135px;
    left: -8px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    opacity: 1;
    text-align: center;
  }

  .footer-background {
    width: 100%;
    height: 333px;
    background: rgba(0, 0, 0, 0.75);
    opacity: 1;
    position: absolute;
    top: 2725px;
    left: 0px;
  }

  .GoTrabahu-footer-text {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 80px;
    left: 250px;
  }

  .call-us-text {
    width: 66px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 100px;
    left: 250px;
  }

  .phone-number {
    width: 95px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 100px;
    left: 297px;
  }

  .location {
    width: 135px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 150px;
    left: 250px;
  }

  .aboutus {
    width: 80px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 80px;
    left: 650px;
  }

  .contact-text {
    width: 70px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 100px;
    left: 650px;
  }

  .visit-text {
    width: 151px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 115px;
    left: 650px;
  }

  .email-text-landing {
    width: 203px;
    height: 16px;
    color: rgba(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    opacity: 0.8;
    top: 150px;
    left: 650px;
  }

  .vertical-line {
    width: 2px;
    height: 230px;
    background: rgba(255, 255, 255);
    opacity: 0.8;
    position: absolute;
    top: 50px;
    left: 1250px;
  }

  .footer-logo {
    width: 250px;
    height: 180px;
    position: absolute;
    position-area: center;
    top: 0px;
    left: 1220px;
  }

  .footer-logo-background {
    width: 250px;
    height: 200px;
    background: rgb(255, 255, 255);
    position: absolute;
    position-area: center;
    top: 0px;
    left: 1220px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .footer-greenback {
    width: 100%;
    height: 70px;
    background: rgba(50, 108, 0, 1);
    opacity: 1;
    position: absolute;
    top: 3058px;
    left: 0px;
  }

  .footer-text {
    width: 352px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 3082px;
    left: 1420px;
    font-family: sans-serif;
    font-weight: normal;
    opacity: 0.8;
    font-size: 20px;
    text-align: left;
  }
}

/* Login page css */

@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: sans-serif;
  }

  .top-shape-login {
    width: 1920px;
    height: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .rec-logo-login {
    width: 290px;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    right: 30px;
    top: 8px;
  }

  .Gologo-login {
    width: 100%;
    height: 120px;
    position: absolute;
    position-area: center;
    top: 0px;
    left: 0px;
  }

  .header-white-rec {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .header-logo-login {
    width: 349px;
    height: 42.32px;
    margin-top: 11px;
    position: absolute;
    left: 1091px;
  }

  .back-button-login {
    transition: 0.3s;
    width: 39px;
    background-color: #ffffff;
    background-image: url("/Arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 35px;
    position: absolute;
    left: 30px;
    top: 22px;
  }

  .back-arrow-login {
    width: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 18px;
    position: absolute;
    left: 30px;
    top: 18px;
  }

  .grey-fade-login {
    width: 600px;
    height: 900px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    position: absolute;
    top: 35px;
    left: -8px;
  }

  .body-logo-login {
    width: 173px;
    height: 118px;
    margin-top: 11px;
    position: absolute;
    left: 220px;
    top: 96px;
  }

  .container-login {
    position: absolute;
  }

  .background-login {
    width: 1920px;
    height: 900px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    top: 35px;
    left: -8px;
    overflow: hidden;
  }

  .body-text-login {
    width: 680px;
    height: 89px;
    margin-top: 257px;
    margin-left: 701px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: -3px;
  }

  .login-form {
    width: 155px;
    height: 134px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 98px;
    left: 229px;
  }
  .email-input-login {
    width: 358px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    left: -96px;
    top: 276px;
    border: 1px solid #e5e7eb;
  }

  .email-icon-login {
    width: 40px;
    height: 43px;
    position: absolute;
    left: -137px;
    top: 295px;
  }

  .password-input-login {
    position: absolute;
    width: 358px;
    height: 39px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 370px;
    left: -96px;
    padding: 10px 20px;
  }

  .password-icon-login {
    width: 50px;
    height: 42px;
    position: absolute;
    left: -143px;
    top: 337px;
  }

  .forgot-password {
    width: 201px;
    height: 22px;
    position: absolute;
    left: 90px;
    top: 410px;
    text-decoration: underline;
    color: white;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }
  .forgot-password:active {
    text-decoration: underline;
  }

  .password-show-hide {
    position: absolute;
    left: 449px;
    top: 374px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eye-off {
    width: 30px;
    height: 30px;
  }

  .eye-icon-loginpage {
    width: 33px;
    height: 26px;
    position: absolute;
    bottom: 250px;
    left: 5px;
  }

  .hidden {
    display: none;
  }

  .input-box img {
    width: 35px;
    cursor: pointer;
  }

  .login-button-bar {
    width: 100px;
    height: 45px;
    background: #76a42e;
    position: absolute;
    top: 472px;
    left: 397px;
    border-radius: 9px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    color: white;
    border: 1px solid #76a42e;
    padding: 9px 25px;
  }

  .login-button-bar:hover {
    background-color: white;
    color: #76a42e;
  }

  .signin-button-bar {
    width: 100px;
    height: 42px;
    background: white;
    position: absolute;
    top: 536px;
    left: 396px;
    border-radius: 9px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    color: black;
    border: 1px solid #ffffff;
    padding: 9px 23px;
  }

  .signin-button-bar:hover {
    background-color: #76a42e;
    color: white;
  }

  .signin-button-text {
    width: 100%;
    height: 100%;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .signin-text {
    width: 305px;
    height: 65px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 106px;
    top: 534px;
    font-family: sans-serif;
  }
  .signup-text-portal {
    text-decoration: underline;
  }
}

/* Sign Up Section */
@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: sans-serif;
  }

  .top-rec-employee_6 {
    width: 115px;
    height: 40px;
    background: rgb(7, 114, 12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 10px;
    top: 60px;
    left: 40px;
  }

  .text-employee_6 {
    width: 100%;
    height: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 10px;
    text-align: center;
    font-family: sans-serif;
  }

  .top-shape-login_6 {
    width: 1920px;
    height: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .logo-signup_6 {
    width: 290px;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    right: 30px;
    top: 8px;
  }

  .Gologo-login_6 {
    width: 100%;
    height: 120px;
    position: absolute;
    position-area: center;
    top: 0px;
    left: 0px;
  }

  .header-white-rec_6 {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .header-logo-login_6 {
    width: 349px;
    height: 42.32px;
    margin-top: 11px;
    position: absolute;
    left: 1091px;
  }
  .header-arrow-login_6 {
    transition: 0.3s;
    width: 39px;
    height: 30px;
    margin-top: 11px;
    position: relative;
    right: 1369px;
    bottom: 0px;
  }

  .grey-fade-signup_6 {
    width: 600px;
    height: 897px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    position: absolute;
    top: 19px;
    left: -8px;
  }

  .body-logo-login_6 {
    width: 173px;
    height: 118px;
    margin-top: 11px;
    position: absolute;
    left: 220px;
    top: 96px;
  }

  .container-login_6 {
    position: absolute;
  }

  .background-signup_6 {
    width: 1920px;
    height: 896px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    top: 20px;
    left: -8px;
    overflow: hidden;
  }

  .body-text_6 {
    width: 680px;
    height: 89px;
    margin-top: 257px;
    margin-left: 701px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: -3px;
  }

  .back-button-signup_6 {
    transition: 0.3s;
    width: 39px;
    background-color: #ffffff;
    background-image: url("/Arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 35px;
    position: absolute;
    left: 30px;
    top: 22px;
  }

  .login-form_6 {
    width: 155px;
    height: 134px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 98px;
    left: 229px;
  }

  .top-text-email_6 {
    width: 349px;
    height: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 140px;
    top: 255px;
    font-family: sans-serif;
  }

  .top-text-password_6 {
    width: 349px;
    height: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 140px;
    top: 350px;
    font-family: sans-serif;
  }

  .email-input-login_6 {
    width: 358px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    left: 139px;
    top: 276px;
    border: 1px solid #e5e7eb;
  }

  .email-icon-login_6 {
    width: 40px;
    height: 43px;
    position: absolute;
    left: 93px;
    top: 277px;
  }

  .password-input-login_6 {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 370px;
    left: 139px;
    padding: 10px 20px;
  }

  .password-icon-login_6 {
    width: 50px;
    height: 42px;
    position: absolute;
    left: 87px;
    top: 370px;
  }

  .confirm-password-input_6 {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 420px;
    left: 139px;
    padding: 10px 20px;
  }

  .Password-length_6 {
    width: 275px;
    height: 22px;
    position: absolute;
    font-size: 13px;
    left: 139px;
    top: 463px;
    color: white;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }
  .forgot-password:active {
    text-decoration: underline;
  }

  .password-show-hide_6 {
    position: absolute;
    left: 453px;
    top: 375px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .password-show-hide2_6 {
    position: absolute;
    left: 453px;
    top: 423px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eye-off_6 {
    width: 30px;
    height: 30px;
  }

  .eye-icon-employee_6 {
    width: 30px;
    height: 25px;
    position: absolute;
    bottom: 250px;
    left: 5px;
  }

  .hidden {
    display: none;
  }

  .input-box img {
    width: 35px;
    cursor: pointer;
  }

  .login-bar-signup_6 {
    width: 100px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    position: absolute;
    left: 396px;
    top: 495px;
    background-color: #4aad5a;
    border: none;
    border-radius: 9px;
  }

  .login-button-text_6 {
    width: 100%;
    height: 100%;
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .login-button:hover {
    background-color: #3e8e41;
  }

  .login-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .create-button_6 {
    width: 150px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #76a42e;
    border: none;
    border-radius: 9px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 390px;
    top: 505px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-button_6:hover {
    background-color: white;
    color: #76a42e;
  }
  .signin-button:hover {
    background-color: #b8b8b8;
  }

  .signin-button:active {
    background-color: #747c74;
    transform: translateY(4px);
  }

  .login-text_6 {
    width: 305px;
    height: 65px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 155px;
    top: 575px;
    font-family: sans-serif;
  }
  .login-text2_6 {
    text-decoration: underline;
  }

  .top-rec-employer {
    width: 115px;
    height: 40px;
    background: rgb(7, 114, 12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 10px;
    top: 60px;
    left: 40px;
  }

  .text-employer {
    width: 100%;
    height: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 10px;
    text-align: center;
    font-family: sans-serif;
  }

  .top-shape-login {
    width: 1920px;
    height: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .logo-signup {
    width: 290px;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    right: 30px;
    top: 8px;
  }

  .Gologo-login {
    width: 100%;
    height: 120px;
    position: absolute;
    position-area: center;
    top: 0px;
    left: 0px;
  }

  .header-white-rec {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .header-logo-login {
    width: 349px;
    height: 42.32px;
    margin-top: 11px;
    position: absolute;
    left: 1091px;
  }
  .header-arrow-login {
    transition: 0.3s;
    width: 39px;
    height: 30px;
    margin-top: 11px;
    position: relative;
    right: 1369px;
    bottom: 0px;
  }

  .grey-fade-signup {
    width: 600px;
    height: 897px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    position: absolute;
    top: 19px;
    left: -8px;
  }

  .body-logo-login {
    width: 173px;
    height: 118px;
    margin-top: 11px;
    position: absolute;
    left: 220px;
    top: 96px;
  }

  .container-login {
    position: absolute;
  }

  .background-signup {
    width: 1920px;
    height: 896px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    top: 20px;
    left: -8px;
    overflow: hidden;
  }

  .body-text-login {
    width: 680px;
    height: 89px;
    margin-top: 257px;
    margin-left: 701px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: -3px;
  }

  .back-button-signup {
    transition: 0.3s;
    width: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-image: url("/Arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 18px;
    position: absolute;
    left: 30px;
    top: 18px;
  }

  .login-form {
    width: 155px;
    height: 134px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 98px;
    left: 229px;
  }

  .top-text-email {
    width: 349px;
    height: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 140px;
    top: 255px;
    font-family: sans-serif;
  }

  .top-text-password {
    width: 349px;
    height: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 140px;
    top: 350px;
    font-family: sans-serif;
  }

  .email-input-login {
    width: 358px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    left: 139px;
    top: 276px;
    border: 1px solid #e5e7eb;
  }

  .email-icon-login {
    width: 40px;
    height: 43px;
    position: absolute;
    left: 93px;
    top: 277px;
  }

  .password-input-login {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 370px;
    left: 139px;
    padding: 10px 20px;
  }

  .password-icon-login {
    width: 50px;
    height: 42px;
    position: absolute;
    left: 87px;
    top: 370px;
  }

  .confirm-password-input {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 420px;
    left: 139px;
    padding: 10px 20px;
  }

  .Password-length {
    width: 275px;
    height: 22px;
    position: absolute;
    font-size: 13px;
    left: 139px;
    top: 463px;
    color: white;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }
  .forgot-password:active {
    text-decoration: underline;
  }
  .eye-off {
    width: 30px;
    height: 30px;
  }

  .eye-icon-employer {
    width: 30px;
    height: 25px;
    position: absolute;
    bottom: 250px;
    left: 5px;
  }

  .hidden {
    display: none;
  }

  .input-box img {
    width: 35px;
    cursor: pointer;
  }

  .login-bar-signup {
    width: 100px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    position: absolute;
    left: 396px;
    top: 495px;
    background-color: #4aad5a;
    border: none;
    border-radius: 9px;
  }

  .login-button-text {
    width: 100%;
    height: 100%;
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .login-button:hover {
    background-color: #3e8e41;
  }

  .login-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .signin-bar-signup {
    width: 100px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 396px;
    top: 540px;
    background-color: #ffffff;
    border: none;
    border-radius: 9px;
  }

  .signin-button-text {
    width: 100%;
    height: 100%;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .signin-button:hover {
    background-color: #b8b8b8;
  }

  .signin-button:active {
    background-color: #747c74;
    transform: translateY(4px);
  }

  .signin-text_6 {
    width: 305px;
    height: 65px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 155px;
    top: 575px;
    font-family: sans-serif;
  }
  .signin-text2_6 {
    text-decoration: underline;
  }
}

/* Profile Section */

@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: sans-serif;
  }

  .top-rec-employee_7 {
    width: 115px;
    height: 40px;
    background: rgb(7, 114, 12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 10px;
    top: 60px;
    left: 40px;
  }

  .text-employee_7 {
    width: 100%;
    height: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 10px;
    text-align: center;
    font-family: sans-serif;
  }

  .top-shape-login_7 {
    width: 1920px;
    height: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .logo-signup_7 {
    width: 290px;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    right: 30px;
    top: 8px;
  }

  .pic_7 {
    width: 180px;
    height: 170px;
    position: absolute;
    position-area: center;
    border-radius: 50%;
    top: 0px;
    left: 0px;
  }
}
.header-white-rec_7 {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-logo-login_7 {
  width: 349px;
  height: 42.32px;
  margin-top: 11px;
  position: absolute;
  left: 1091px;
}
.header-arrow-login_7 {
  transition: 0.3s;
  width: 39px;
  height: 30px;
  margin-top: 11px;
  position: relative;
  right: 1369px;
  bottom: 0px;
}

.green-employee-profile_7 {
  width: 600px;
  height: 897px;
  background: rgb(32, 158, 15);
  background-image: linear-gradient(40deg, green, white);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: -8px;
}

.grey-fade-employee_7 {
  width: 1320px;
  height: 898px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 592px;
}

.top-text_7 {
  width: 413px;
  height: 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 770px;
  top: 80px;
  text-align: center;
  font-family: sans-serif;
}

.White-box_7 {
  width: 1000px;
  height: 650px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 750px;
  border-radius: 10px;
}

.container-login_7 {
  position: absolute;
}

.background-signup_7 {
  width: 1920px;
  height: 896px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  top: 20px;
  left: -8px;
  overflow: hidden;
}

.body-text_7 {
  width: 680px;
  height: 89px;
  margin-top: 257px;
  margin-left: 701px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  position: absolute;
  top: -3px;
}

.back-button_7 {
  transition: 0.3s;
  width: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-image: url("/Arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  height: 18px;
  position: absolute;
  left: 30px;
  top: 18px;
}

.Profile-Picture_7 {
  width: 183px;
  height: 173px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  opacity: 100%;
  position: absolute;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 98px;
  left: 229px;
}

.edit-profile-text_7 {
  width: 100%;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  position: absolute;
  text-decoration: underline;
  background-position: center;
  left: 0px;
  top: 180px;
  text-align: center;
  font-family: sans-serif;
}

.LastName_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  position: absolute;
  background-color: rgb(215 229 172);
  border-radius: 0%;
  left: 100px;
  top: 50px;
  text-align: left;
  font-family: sans-serif;
}

.FirstName_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 330px;
  top: 50px;
  text-align: left;
  font-family: sans-serif;
}

.MiddleName_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 560px;
  top: 50px;
  text-align: left;
  font-family: sans-serif;
}

.Extension_7 {
  width: 60px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 790px;
  top: 50px;
  text-align: left;
  font-family: sans-serif;
}

.Gender_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 100px;
  text-align: left;
  font-family: sans-serif;
}

.Age_7 {
  width: 70px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 355px;
  top: 100px;
  text-align: left;
  font-family: sans-serif;
}

.DateofBirth_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 470px;
  top: 100px;
  text-align: left;
  font-family: sans-serif;
}

.Nationality_7 {
  width: 150px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 701px;
  top: 100px;
  text-align: left;
  font-family: sans-serif;
}

.Email_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 155px;
  text-align: left;
  font-family: sans-serif;
}

.ContactNumber_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 330px;
  top: 155px;
  text-align: left;
  font-family: sans-serif;
}

.Division-Line1 {
  width: 100%;
  height: 1px;
  background-color: #dec7c7;
  position: absolute;
  top: 226px;
  left: 0px;
}

.Division-Line2 {
  width: 100%;
  height: 1px;
  background-color: #dec7c7;
  position: absolute;
  top: 408px;
  left: 0px;
}

.Address_7 {
  width: 755px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 280px;
  text-align: left;
  font-family: sans-serif;
}

.Province_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 340px;
  text-align: left;
  font-family: sans-serif;
}

.City_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 310px;
  top: 340px;
  text-align: left;
  font-family: sans-serif;
}

.Barangay_7 {
  width: 200px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 520px;
  top: 340px;
  text-align: left;
  font-family: sans-serif;
}

.Zip-Code_7 {
  width: 127px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 730px;
  top: 340px;
  text-align: left;
  font-family: sans-serif;
}

.Emergency-contact_7 {
  width: 755px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 450px;
  text-align: left;
  font-family: sans-serif;
}

.Emergency-address_7 {
  width: 755px;
  height: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 500px;
  text-align: left;
  font-family: sans-serif;
}

.Emergency-num_7 {
  width: 200px;
  height: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgba(215 229 172);
  border-radius: 0%;
  position: absolute;
  left: 100px;
  top: 550px;
  text-align: left;
  font-family: sans-serif;
}

.Done-button-employee {
  width: 150px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 1550px;
  top: 780px;
  background-color: #96b753;
  border: none;
  border-radius: 9px;
}

.done-button_7 {
  width: 100%;
  height: 15px;
  color: #050505;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  position-area: center;
  position: absolute;
  top: 0px;
}

/* Dashboard Section */

@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
  }
  .posting-header-container_8 {
    width: 1440px;
    height: 1214px;
    background: #76a42e;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .poster-header_8 {
    width: 1440px;
    height: 61px;
    background-color: #76a42e;
  }

  .header-logo_8 {
    width: 79px;
    height: 36.14px;
    position: absolute;
    top: 11px;
    left: 37px;
  }

  .search-input_8 {
    width: 410px;
    height: 31px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 14px;
    left: 885px;
    border-radius: 6px;
  }

  .search-button_8 {
    width: 19px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 855px;
    border-radius: 6px;
  }

  .search-img_8 {
    width: 40px;
    height: 37px;
    position: absolute;
    top: 12px;
    left: 836px;
  }

  .user-info_8 {
    width: 59px;
    height: 54px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 3px;
    left: 1372px;
  }

  .user-info img_8 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2px;
    left: 4px;
  }

  .burger-img_8 {
    width: 47px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 8px;
    cursor: pointer;
    z-index: 1001;
  }

  .body-container_8 {
    width: 1920px;
    height: 1157px;
    background-repeat: no-repeat;
    background-position: fixed;
    background-color: rgb(255, 255, 255);
    background-image: url("/background.png");
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 0px;
  }

  .burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  .side-bar_8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 222px;
    height: 1162px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    left: -4px;
    top: 0px;
    padding: 10px;
    gap: -3px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
  }

  .side-bar-open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .side-bar-item0_8,
  .side-bar-item1_8,
  .side-bar-item2_8,
  .side-bar-item3_8,
  .side-bar-item4_8 {
    width: 100%;
    height: 44px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-bar-item0_8,
  .side-bar-item1_8,
  .side-bar-item2_8,
  .side-bar-item3_8,
  .side-bar-item4_8 {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .employer-text_8 {
    width: 143px;
    color: white;
    background-color: #6c8a3c;
    opacity: 1;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 111px;
    left: 259px;
    border-radius: 6px;
  }

  .posting-rectangular_8 {
    width: 455px;
    height: 229px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 261px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(0, 0, 0);
  }
  .poster-info_8 {
    width: 458px;
    height: 238px;
    background-color: #76a42e;
    opacity: 1;
    position: absolute;
    top: -7px;
    left: -2px;
    border-radius: 6px;
  }
  .poster-img_8 {
    width: 59px;
    height: 54px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 18px;
  }

  .poster-info-line_8 {
    width: 326px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 207px;
    left: 366px;
  }

  .poster-name_8 {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 19px;
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    left: 93px;
  }

  .post-description_8 {
    width: 445px;
    height: 138px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 82px;
    left: 5px;
  }

  .post-info-line_8 {
    width: 455px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .post-title_8 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family: sans-serif;
  }

  .post-text_8 {
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }

  .post-arrow-box_8 {
    width: 47px;
    height: 239px;
    background-color: rgb(0 0 0 / 77%);
    opacity: 1;
    position: absolute;
    top: -90px;
    left: 450px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-arrow_8 {
    width: 24px;
    height: 28px;
    background-color: rgb(255 255 255 / 0%);
    opacity: 1;
    position: absolute;
    top: 98px;
    left: 8px;
  }
  .post-scroll_8 {
    width: 690px;
    height: 1134px;
    background-color: rgb(206 206 206 / 0%);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 216px;
    overflow-y: auto;
    border: 0px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 6px;
  }

  .post-all-details_8 {
    width: 316px;
    height: 1134px;
    background-color: rgb(206, 206, 206);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 903px;
    overflow-y: auto;
    border: 0px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 6px;
  }

  .available-posts_8 {
    width: 316px;
    height: 100%;
    background-color: rgb(206, 206, 206);
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    border: none;
    padding: 10px;
    border-radius: 0;
  }
}

/* Forgot Password */
@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: sans-serif;
  }
  .header-container_9 {
    width: 1440px;
    height: 59px;
    background: rgb(255 255 255 / 22%);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .header-logo_9 {
    width: 349px;
    height: 42.32px;
    margin-top: 11px;
    position: absolute;
    left: 1091px;
  }

  .header-arrow_9 {
    transition: 0.3s;
    width: 39px;
    height: 30px;
    margin-top: 11px;
    position: relative;
    right: 1369px;
    bottom: 0px;
  }

  .body-container_9 {
    width: 1440px;
    height: 965px;
    background: rgba(255, 255, 255, 0);
    opacity: 0.53;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
  }

  .body-logo_9 {
    width: 173px;
    height: 118px;
    margin-top: 11px;
    position: absolute;
    left: 220px;
    top: 77px;
  }

  .body-section_9 {
    width: 1440px;
    height: 965px;
    background-image: url("/background.png");
    background-size: cover;
    margin-top: 59px;
  }

  .body-text_9 {
    width: 500px;
    height: 89px;
    margin-top: 257px;
    margin-left: 701px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: -3px;
  }

  .body-rectangular_9 {
    width: 635px;
    height: 517px;
    margin-top: 59px;
    background: rgb(0, 0, 0);
    opacity: 1;
    position: absolute;
    top: 0px;
  }

  .body-rectangular2_9 {
    width: 635px;
    height: 456px;
    margin-top: 59px;
    background: rgb(0, 0, 0);
    opacity: 1;
    position: absolute;
    top: 520px;
  }

  .login-form_9 {
    width: 155px;
    height: 134px;
    background: rgb(255, 255, 255);
    opacity: 100%;
    position: absolute;
    top: 81px;
    left: 227px;
    border-radius: 9px;
  }

  .email-input_9 {
    width: 358px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    left: 139px;
    top: 288px;
    border: 1px solid #e5e7eb;
  }
  .code-input_9 {
    width: 358px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    left: 139px;
    top: 378px;
    border: 1px solid #e5e7eb;
  }

  .email-icon_9 {
    width: 40px;
    height: 43px;
    position: absolute;
    left: 93px;
    top: 291px;
  }

  .email-text_9 {
    width: 95px;
    height: 16px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 153px;
    top: 268px;
  }

  .password-input_9 {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 647px;
    left: 139px;
    padding: 10px 20px;
  }

  .password-icon_9 {
    width: 48px;
    height: 42px;
    position: absolute;
    left: 93px;
    top: 647px;
  }

  .password-text _9 {
    width: 354px;
    height: 16px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 144px;
    top: 592px;
  }

  .code-text_9 {
    width: 380px;
    height: 17px;
    font-size: 14px;
    position: absolute;
    left: 105px;
    top: 328px;
    color: white;
  }

  .password-show-hide_9 {
    position: absolute;
    left: 453px;
    top: 648px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .password-input2_9 {
    position: absolute;
    width: 358px;
    height: 37px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    top: 719px;
    left: 139px;
    padding: 10px 20px;
  }

  .password-show-hide2_9 {
    position: absolute;
    left: 453px;
    top: 721px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eye-icon_9 {
    width: 30px;
    height: 30px;
  }

  .hidden_9 {
    display: none;
  }

  .input-box_9 img {
    width: 35px;
    cursor: pointer;
  }

  .resend-code-button_9 {
    width: 127px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    position: absolute;
    left: 269px;
    top: 446px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
  }

  .resend-code-button_9:hover {
    background-color: #3e8e41;
  }

  .resend-code-button_9:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .verify-code-button_9 {
    width: 127px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255 255 255);
    position: absolute;
    left: 420px;
    top: 446px;
    background-color: #96b753;
    border: none;
    border-radius: 5px;
  }

  .verify-code-button_9:hover {
    background-color: #b8b8b8;
  }

  .verify-code-button:active {
    background-color: #747c74;
    transform: translateY(4px);
  }

  .set-password-button_9 {
    width: 127px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255 255 255);
    position: absolute;
    left: 420px;
    top: 783px;
    background-color: #96b753;
    border: none;
    border-radius: 5px;
  }

  .set-password-button_9:hover {
    background-color: #b8b8b8;
  }

  .set-password-button_9:active {
    background-color: #747c74;
    transform: translateY(4px);
  }
}
